.primary-grren-button-container {
  display: flex;
  position: relative;
}
.primary-grren-button-button {
  color: var(--dl-color-gray-white);
  outline: none;
  font-size: 0.75rem;
  background: linear-gradient( 310deg ,#02407d,#3bc304);
  box-shadow: 0 4px 7px -1px rgb(0 0 0 / 11%), 0 2px 4px -1px rgb(0 0 0 / 7%);
  font-style: normal;
  transition: all .15s ease-in;
  font-family: Nunito;
  font-weight: 700;
  line-height: 1.4;
  padding-top: var(--dl-space-space-triplequarterunit);
  border-width: 0px;
  padding-left: var(--dl-space-space-unitandahalfunit);
  border-radius: 1.875rem;
  padding-right: var(--dl-space-space-unitandahalfunit);
  letter-spacing: -0.025rem;
  padding-bottom: var(--dl-space-space-triplequarterunit);
  text-transform: uppercase;
}
.primary-grren-button-button:hover {
  cursor: pointer;
  transform: scale(1.02);
}
